html {
  scroll-padding-top: 60px; /* Adjust this value to match the height of your sticky header */
  scroll-behavior: smooth;
}

.prose :where(blockquote code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  color: theme('colors.signoz_robin.500');
}

.prose :where(h2 code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  color: theme('colors.signoz_robin.500');
}

.prose :where(h1 code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  color: theme('colors.signoz_robin.500');
}

.prose :where(h3 code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  color: theme('colors.signoz_robin.500');
}

.prose :where(h4 code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  color: theme('colors.signoz_robin.500');
}

.prose :where(code):not(:where([class~='not-prose'], [class~='not-prose'] *))::before {
  content: '';
}

.prose :where(code):not(:where([class~='not-prose'], [class~='not-prose'] *))::after {
  content: '';
}

.prose :where(pre):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  padding-left: 8px;
  box-sizing: border-box;
}

* {
  scrollbar-width: 2px;
}

::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  width: 4px;
  height: 4px;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.docs-sidebar {
  height: calc(100vh - 48px);
}

.start-free-trial-btn {
  background-color: theme('colors.signoz_robin.500');
}

.privacy ol {
  list-style: decimal;
  padding-left: 16px;
}

.terms-of-service ol {
  list-style: decimal;
  padding-left: 16px;
}

[data-rmiz-modal-overlay='visible'] {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

[data-rmiz-modal-img] {
  padding: 24px;
}
