.post {
  display: flex;
  margin: 0 auto;
  height: 100%;
  gap: 16px;
}

.post-toc {
  width: 320px;
  box-sizing: border-box;
  height: calc(100vh - 156px);
  overflow-y: auto;
  position: sticky;
  top: 88px;
  padding: 16px 16px 16px 32px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.post-toc-item {
  width: 100%;
  font-size: 13px;
  font-weight: 500;
}

.post-toc-item a {
  width: 100%;
  display: inline-block;
}

.post-content {
  width: calc(100% - 320px);
  /* margin-left: 320px; */
  overflow-y: auto;
  box-sizing: border-box;
  padding-left: 24px;
}

.author-name-team {
  display: flex;
  flex-direction: column;
}

.author-info {
  cursor: pointer;
  height: 36px;
}

.heading {
  display: flex;
  align-items: center;
}

.heading .hash-link {
  opacity: 0;
  margin: 0 8px;
  cursor: pointer;
}

.heading:hover .hash-link {
  opacity: 1;
  color: #f99781;
  font-weight: 500;
}

a[data-level='2'] {
  /* padding-left: 16px; */
}

a[data-level='3'] {
  padding-left: 16px;
}
a[data-level='4'] {
  padding-left: 32px;
}

@media (max-width: 1024px) {
  .post-toc {
    display: none;
  }

  .post-content {
    width: 100%;
    padding-left: 0;
  }
}
