@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@signozhq/design-tokens/dist/style.css';

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-signoz_ink-500;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

@layer base {
  body {
    background-color: transparent;
  }
}

@layer utilities {
  .bg-dot-pattern {
    background: radial-gradient(circle, #ffffff 10%, transparent 5%);
    background-size: 12px 12px;
    opacity: 1;
  }

  .masked-dots {
    mask-image: radial-gradient(
      circle at 50% 0%,
      rgba(11, 12, 14, 0.1) 0%,
      rgba(11, 12, 14, 0) 56.77%
    );
    -webkit-mask-image: radial-gradient(
      circle at 50% 0%,
      rgba(11, 12, 14, 0.1) 0%,
      rgba(11, 12, 14, 0) 56.77%
    );
  }
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.content-header-link {
  opacity: 0;
  margin-left: -24px;
  padding-right: 4px;
}

.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}

.linkicon {
  display: inline-block;
  vertical-align: middle;
}
