@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-signoz_ink-500;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

@layer base {
  body {
    background-color: transparent;
  }
}

@layer utilities {
  .bg-dot-pattern {
    background: radial-gradient(circle, #ffffff 10%, transparent 5%);
    background-size: 12px 12px;
    opacity: 1;
  }

  .masked-dots {
    mask-image: radial-gradient(
      circle at 50% 0%,
      rgba(11, 12, 14, 0.1) 0%,
      rgba(11, 12, 14, 0) 56.77%
    );
    -webkit-mask-image: radial-gradient(
      circle at 50% 0%,
      rgba(11, 12, 14, 0.1) 0%,
      rgba(11, 12, 14, 0) 56.77%
    );
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.content-header-link {
  opacity: 0;
  margin-left: -24px;
  padding-right: 4px;
}

.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}

.linkicon {
  display: inline-block;
  vertical-align: middle;
}

:root {
  --ifm-color-primary: #4e74f8;
  --ifm-color-white: #ffffff;
  --ifm-color-black: #000000;
  --ifm-color-gray-dark: #464646;
  --ifm-color-gray-darkest: #333333;
  --ifm-color-gray-lightest: #828282;
  --ifm-color-white-grey: #bcbcbc;
  --ifm-color-white-darkest: #d1d5db;

  --ifm-font-family-base: 'Inter', sans-serif;
  --ifm-font-family-work-sans: 'Lexend', sans-serif;
  --ifm-font-line-height: 110%;
  --ifm-font-letter-spacing: -0.015rem;

  --ifm-global-spacing: 1rem;
  --ifm-spacing-horizontal: var(--ifm-global-spacing);

  --ifm-box-shadow-dark: 0 100px 80px rgba(43, 70, 116, 0.07),
    0 41.7776px 33.4221px rgba(43, 70, 116, 0.05), 0 22.3363px 17.869px rgba(43, 70, 116, 0.042),
    0 12.5216px 10.0172px rgba(43, 70, 116, 0.035), 0 6.6501px 5.32008px rgba(43, 70, 116, 0.028),
    0 2.76726px 2.21381px rgba(43, 70, 116, 0.02);
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 var(--ifm-spacing-horizontal);
  width: 100%;
}

.section-container {
  padding: 0 var(--ifm-spacing-horizontal);
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--ifm-spacing-horizontal) * -1);
}

.row--no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.row--no-gutters > .col {
  padding-left: 0;
  padding-right: 0;
}

.col {
  --ifm-col-width: 100%;
  flex: 1 0;
  margin-left: 0;
  max-width: var(--ifm-col-width);
  padding: 0 var(--ifm-spacing-horizontal);
  width: 100%;
}

.col[class*='col--'] {
  flex: 0 0 var(--ifm-col-width);
}

.col--1 {
  --ifm-col-width: calc(1 / 12 * 100%);
}
.col--2 {
  --ifm-col-width: calc(2 / 12 * 100%);
}
.col--3 {
  --ifm-col-width: calc(3 / 12 * 100%);
}
.col--4 {
  --ifm-col-width: calc(4 / 12 * 100%);
}
.col--5 {
  --ifm-col-width: calc(5 / 12 * 100%);
}
.col--6 {
  --ifm-col-width: calc(6 / 12 * 100%);
}
.col--7 {
  --ifm-col-width: calc(7 / 12 * 100%);
}
.col--8 {
  --ifm-col-width: calc(8 / 12 * 100%);
}
.col--9 {
  --ifm-col-width: calc(9 / 12 * 100%);
}
.col--10 {
  --ifm-col-width: calc(10 / 12 * 100%);
}
.col--11 {
  --ifm-col-width: calc(11 / 12 * 100%);
}
.col--12 {
  --ifm-col-width: calc(12 / 12 * 100%);
}

.col--offset-1 {
  margin-left: calc(1 / 12 * 100%);
}
.col--offset-2 {
  margin-left: calc(2 / 12 * 100%);
}
.col--offset-3 {
  margin-left: calc(3 / 12 * 100%);
}
.col--offset-4 {
  margin-left: calc(4 / 12 * 100%);
}
.col--offset-5 {
  margin-left: calc(5 / 12 * 100%);
}
.col--offset-6 {
  margin-left: calc(6 / 12 * 100%);
}
.col--offset-7 {
  margin-left: calc(7 / 12 * 100%);
}
.col--offset-8 {
  margin-left: calc(8 / 12 * 100%);
}
.col--offset-9 {
  margin-left: calc(9 / 12 * 100%);
}
.col--offset-10 {
  margin-left: calc(10 / 12 * 100%);
}
.col--offset-11 {
  margin-left: calc(11 / 12 * 100%);
}
.col--offset-12 {
  margin-left: calc(12 / 12 * 100%);
}

.medium-zoom-overlay {
  z-index: 100;
}

.medium-zoom-image {
  z-index: 101;
}

figure {
  margin: 0;
  display: grid;
  place-items: center;
}

figure > figcaption {
  text-align: center;
  font-size: 0.9rem;
}

.highlight {
  color: var(--ifm-color-primary);
}

.header-bg {
  background-color: rgba(11, 12, 14, 0.7);
  padding-left: var(--ifm-spacing-horizontal);
  padding-right: var(--ifm-spacing-horizontal);
}

.footer-icons {
  a > svg {
    width: 24px;
    height: 24px;
  }
}

.homepage-border {
  border: 1px solid rgba(173, 127, 88, 0.2);
}

.homepage-separator {
  height: 1px;
  background-color: rgba(173, 127, 88, 0.2);
  width: 24px;
  margin-top: -24px;
}

.homepage-dashboard-icon {
  margin-left: -5px;
  margin-right: -5px;
}

@media (max-width: 768px) {
  .homepage-dashboard-icon {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.homepage-observability-container > div:first-child {
  grid-column: span 2;
}

.homepage-build-dev-container > div:last-child {
  grid-column: span 2;
}

.button-background {
  background-color: #181a21;
}

.launch-week-card-background {
  background: rgba(18, 19, 23, 0.8);
}

.launch-week-counter {
  padding: 0.05rem 0.9rem;
}
` .metrics-background {
  background-color: rgba(171, 189, 255, 0.02);
}

.card-background {
  background-color: rgba(217, 217, 217, 0.1);
}

.text-gradient {
  background: linear-gradient(99deg, #ead8fd 22.85%, #7a97fa 64.34%, #fd5ab2 96.6%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
}

.pinkish-gradient {
  background: linear-gradient(99deg, #7a97fa 4.42%, #f977ff 96.6%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.orangish-gradient {
  background: linear-gradient(114deg, #ed6d68 14.99%, #fca083 77.27%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-figure {
  background: inherit;
}

.play-container {
  position: absolute;
  z-index: 1;
  inset: 0;
}

.product-explainer-video {
  width: 100%;
  margin: 0 auto;
}

.embed-container {
  position: relative;
  padding-bottom: 49.5%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box-shadowed-image {
  border-radius: 6px;
  box-shadow: rgba(34, 34, 34, 0.2) 2px 10px 24px;
}

.announcementContainer {
  max-width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .announcementContainer {
    max-width: 90%;
    margin: 0 auto;
  }
}

.wavy-line::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  bottom: 0;
  border-bottom: 1px dashed #1d212d;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: 100%;
}
